body{
font-family:Arial;
background:#d3d2d2;
margin:0;
}

header{
background:#31a8ac;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
padding:20px;
}

.nova-tarefa{
display:flex;
gap:10px;
margin-bottom:20px;
}

.nova-tarefa input{
flex:1;
padding:10px;
}

.quadro{
display:flex;
gap:20px;
}

.coluna{
background:white;
padding:15px;
border-radius:10px;
width:30%;
min-height:300px;
}

.tarefa{
background:#eee;
padding:10px;
margin:10px 0;
border-radius:5px;
cursor:pointer;
}

.menu-btn {
    float: right;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    margin: 10% auto;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-coluna{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.titulo-coluna button{
    border:none;
    background:#31a8ac;
    color:white;
    border-radius:50%;
    width:25px;
    height:25px;
    cursor:pointer;
}

.lista {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.lista h4 {
    margin: 0 0 5px 0;
}

.tarefas-lista {
    min-height: 20px;
}