body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#af0598;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
padding:20px;
}

.nova-tarefa{
display:flex;
gap:10px;
margin-bottom:20px;
}

.nova-tarefa input{
flex:1;
padding:10px;
}

.quadro{
display:flex;
gap:20px;
}

.coluna{
background:white;
padding:15px;
border-radius:10px;
width:30%;
min-height:300px;
}

.tarefa{
background:#eee;
padding:10px;
margin:10px 0;
border-radius:5px;
cursor:pointer;
}