body{
font-family: Arial;
background:#ff71ec;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#af0598;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#6e01ad;
}

#mensagem{
margin-top:15px;
font-weight:bold;
}